<div data-role="header">
<h1>Editing album</h1>

  <div data-role="navbar">
      <ul>
          <li><a href="/show/index" class="ui-btn-active">Home</a></li>
		  <li><a href="/jq">Jquery Data tables</a></li>
          <li><a href="/songs">Songs</a></li>
          <li><a href="/songs/new">New Songs</a></li>
          <li><a href="/albums">Artist</a></li>
          <li><a href="/albums/new">New Albums</a></li>
      </ul>
  </div><!-- /navbar -->
</div>
<%= render 'form' %>

<%= link_to 'Show', @album %> |
<%= link_to 'Back', albums_path %>
