<!DOCTYPE html>
<html>
<head>
  <title>Musiclist</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
  <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
  
</head>
<body>
  <div data-role="page">
	  <div data-role="content">
    <%= yield %>
</div>
  </div>
</body>
</html>
